body {
    background-color: white;
}

.nav {
    color: black;
    overflow: hidden;
}

.nav a {
    float: right;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav a.hover {
    color: gray;
}

.nav a.active {
    color: white;
}